@charset "UTF-8";

/* Footer */
footer {
	background: #222;
	color: #fff;
	padding: 40px 0;
}

footer a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s;
}

footer a:hover {
	color: #ff6f61;
}